* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.welcome {
  height: 40vh;
  background-color: rgb(24, 31, 76);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.welcome h1 {
  font-size: 40px;
}

.welcome p {
  font-size: 24px;
  margin: 0;
}

.students {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.students .container-fluid {
  padding: 0;
}

.students .row {
  width: 100%;
  margin: 0;
}

h2,
h3,
p {
  text-align: center;
}

.intro,
.intro h2 {
  margin-bottom: 32px;
  padding: 0 16px;
}

.custom-card-wrapper {
  padding: 0 16px;
  margin-top: 74px;
}

.custom-card {
  padding: 16px;
  border: 1px solid #ccc;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.custom-card .avatar-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.custom-card .avatar {
  width: 100%;
  height: auto;
}

.custom-card h3 {
  margin-top: 50px;
  margin-bottom: 16px;
}

.custom-card .contact {
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.custom-card .contact img {
  width: 40px;
}

#card-animation {
  transition: 0.7s;
}
#card-animation:hover {
  transform: translateY(-10px);
}
#logo-animation {
  transition: 0.7s;
}
#logo-animation:hover {
  transform: scale(1.4);
}
mark {
  margin: 0 -0.4em;
  padding: 0.05em 0.4em;
  border-radius: 0.7em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* Melisa Css Start */
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
.motto{
  font-family: 'Red Rose', cursive;
  color: white;
  background-color: #f54260;
  border: 3px solid #303030;
  box-shadow:
    1px 1px #303030,
    2px 2px #303030,
    3px 3px #303030,
    4px 4px #303030,
    5px 5px #303030,
    6px 6px #303030,
    7px 7px #303030,
    8px 8px #303030,
    9px 9px #303030,
    10px 10px #303030;
  border-radius:10px;
  margin-bottom: 30px;
}
/* Melisa Css Finish */
